<!-- Include Header -->
<%- include('includes/_header')%>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/" class="border-shadow">
                        <span class="text-gradient">
                            <i class="fas fa-angle-double-left"></i>
                            All Users
                        </span>
                    </a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dart">New User</h2>
                <span class="text-light">
                    Use the below form to create new account
                </span>
            </div>
            <!-- Include Footer -->
            <%- include('includes/_form')%>

        </div>
    </main>

    <!-- Include Footer -->
    <%- include('includes/_footer')%>