<!-- Include Header -->
<%- include('includes/_header')%>

    <!-- Main Section -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add_user" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-users"></i>New User</span>
                </a>
            </div>

            <form action="/" method="post">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('includes/_show')%>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

    <!-- Include Footer -->
    <%- include('includes/_footer')%>